@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "./colors.scss";

* {
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-family: "Roboto";

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    height: 200px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 32px;
    background: rgba(0, 0, 0, 0.1);
  }
}

body {
  padding: 0px;
  margin: 0px;
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}

ul {
  padding-inline-start: 0px;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

a {
  color: #5977ff;
}

.text-decoration-none .cursor-pointer {
  cursor: pointer;
}

@media (max-width: 900px) {
  * {
    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }
  }
}
