@import "./colors.scss";

.form-control {
  margin-bottom: 15px;

  label {
    width: 100%;
    display: inline-block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500px;
    color: $color-medium-text;
  }

  input {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
    outline: none;
    padding: 15px 20px 15px 20px;
    border-radius: 0px 8px 8px 8px;
    font-size: 14px;
    color: $color-primary-text;

    &::placeholder {
      color: rgba($color-medium-text, 0.5);
    }
  }
}
